@import "tailwindcss";

.hide-spin-button::-webkit-outer-spin-button,
.hide-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-spin-button[type="number"] {
  -moz-appearance: textfield;
}